<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>google-calendar-test-webapp</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.html</location>
  </error-page>
  
  <listener>
    <listener-class>gcalendartest.ApplicationContextListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>gcalendartest.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginCallbackServlet</servlet-name>
    <servlet-class>gcalendartest.LoginCallbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>gcalendartest.LogoutServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCallbackServlet</servlet-name>
    <url-pattern>/doLoginCallback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>gcalendartest.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
</web-app>